nav {
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: center;
	background: #CCCCCC;
	color: #000000;
}

nav a {
	color: #000000;
	text-decoration: none;
}

nav ul {
	display: flex;
	margin: 0;
	padding: 0;
}

nav ul li {
	list-style: none;
}

nav .nav-title {
	grid-column: 1;
	justify-self: left;
	padding-left: 0.5rem;
	font-size: 1.5rem;
}

nav .nav-contents {
	grid-column: 2;
	justify-self: center;
}

nav .nav-icons {
	grid-column: 3;
	justify-self: right;
	padding-right: 0.5rem;
}

nav .nav-icons li {
	padding: 0 1rem;
}

nav .nav-icons li a {
	display: block;
	padding: 1rem 0;
}

nav .nav-contents li a {
	display: block;
	padding: 1rem 1.5rem;
}

nav .nav-contents li ul {
	display: none;
	flex-direction: column;
	position: absolute;
}

nav ul li:hover {
	background: #DDDDDD;
}

nav .nav-contents li:hover > ul {
	display: inline-flex;
}

nav ul li ul li {
	background: #EEEEEE;
}

nav .nav-toggle {
	position: absolute;
	top: 0.75rem;
	right: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
}

nav .nav-line {
	height: 3px;
	width: 100%;
	background: #000000;
	border-radius: 10px;
}

nav .nav-bar {
	margin: 0.25rem 0.5rem;
	width: 0.15rem;
	background: #999999;
	border-radius: 3rem;
}
