nav {
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: center;
	background: #CCCCCC;
}

nav a {
	color: #000000;
	text-decoration: none;
}

nav ul {
	display: flex;
	margin: 0;
	padding: 0;
}

nav ul li {
	list-style: none;
}

nav .nav-title {
	grid-column: 1;
	padding: 0 0.5rem;
	font-size: 1.5rem;
}

nav .nav-contents {
	grid-column: 2;
	justify-self: center;
}

nav .nav-icons {
	grid-column: 3;
	padding: 0 0.5rem;
}

nav .nav-icons li {
	padding: 0 1rem;
}

nav .nav-icons li a {
	display: block;
	padding: 0.85rem 0;
}

nav .nav-icons img {
	display: block;
}

nav .nav-contents li a {
	display: block;
	padding: 1rem 1.5rem;
}

nav .nav-contents li ul {
	display: none;
	flex-direction: column;
	position: absolute;
}

nav ul li:hover {
	background: #DDDDDD;
}

nav .nav-contents li:hover > ul {
	display: inline-flex;
}

nav ul li ul li {
	background: #EEEEEE;
}

nav .nav-line {
	margin: 0.25rem 0.5rem;
	width: 0.15rem;
	background: #999999;
	border-radius: 3rem;
}
