

@media (max-width: 600px) {
	nav {
		flex-direction: column;
		align-items: flex-start;
	}
	
	nav > button {
		display: inline-flex;
	}
	
	nav ul {
		display: none;
		flex-direction: column;
		width: 100%;
	}
	
	nav ul[data-active] {
		display: flex;
	}
	
	nav ul li a {
		text-align: center;
		padding: 0.5rem 1rem;
	}
	
	nav ul li ul {
		position: static;
	}
}
