:root {
	font-size: 16px;
	font-family: 'Arial';
	--text-primary: #000000;
	--text-secondary: #00FF00;
	--background-primary: #F5F5F5;
	--background-secondary: #9AE539;
	--background-secondary-hover: #80CC1E;
	--foobar: #8CDB2B;
	--foobar2: #74BF13;
	--transition-speed: 200ms;
	--unit-navbar-collapsed: 5rem;
	--unit-navbar-expanded: 16rem;
	--unit-bar-big: 5rem;
	--unit-bar-small: 2rem;
	--unit-img-size: 2rem;
	--unit-img-offset: 1.5rem;
}

body {
	color: black;
	background-color: white;
	margin: 0px;
	padding: 0px;
}

main {
	margin-left: 5rem;
	padding: 1rem;
}

.navbar {
	width: 0;
	height: 100vh;
	position: fixed;
	top: 0;
	background-color: var(--background-primary);
	transition: width 300ms ease;
}

.navbar-toggle {
	position: absolute;
	width: 4rem;
	height: 4rem;
	margin: 0;
	opacity: 0;
	transition: margin-left 300ms ease;
}

.navbar-toggle-label {
	position: static;
	display: flex;
	width: 4rem;
	height: 4rem;
	align-items: center;
	background-color: var(--background-secondary-hover);
	transition: margin-left 300ms ease;
}

.navbar-toggle-label img {
	min-width: 3rem;
	margin: 0 0.5rem;
}

.navbar-toggle:checked {
	margin: 0 16rem;
}

.navbar-toggle:checked + .navbar-toggle-label {
	margin: 0 16rem;
}

.navbar-toggle:checked + .navbar-toggle-label + .navbar {
	width: 16rem;
}


.navbar-nav {
	list-style: none;
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.nav-item {
	width: 100%;
}

.nav-check-label {
	display: flex;
	height: 5rem;
	align-items: center;
	background-color: var(--background-secondary);
	transition: var(--transition-speed);
}

.nav-check {
	position: absolute;
	width: 100%;
	height: var(--unit-bar-big);
	opacity: 0;
}

.nav-dropdown {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.unit-dropdown-text {
	overflow: auto;
}

.nav-dropdown-item {
	width: 100%;
	overflow: hidden;
	background-color: var(--foobar);
	height: 0;
	text-decoration: none;
	color: var(--text-primary);
	transition: height 400ms ease, background-color 400ms;
	text-align: center;
}

.nav-dropdown-item:hover {
	background-color: var(--foobar2);
}

.nav-check:hover + .nav-check-label {
	background-color: var(--background-secondary-hover);
}

.nav-check:checked + .nav-check-label + .nav-dropdown .nav-dropdown-item {
	display: block;
	height: 3rem;
}

.nav-check-text {
	display: block;
	overflow: hidden;
	white-space: nowrap;
}

.nav-check-label .nav-check-image-container {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	width: 2rem;
	margin: 0 1.5rem;
}

.nav-check-label .nav-check-image-container img {
	min-width: 2rem;
}

.navbar:hover .nav-check-text {
}